body{
    background-color: #67B54B;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area_cadastro{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 6px 6px 4px 1px rgba(0, 0, 0, 0.493);
    background-color: #FFFFFF;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.cadastro form{
    display: flex;
    flex-direction: column;;
}

.cadastro input{
    margin-top: 15px;
}

.cadastro .btnEnv{
    font-weight: bold;
}

